* {
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
.main-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px ;
    width: 100%;
    margin-top: 3%;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px 3px grey;
}
form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 2%;
}
input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.content-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 450px;
}
.card-1 , .card-2 , .card-3,.card-4 {
    margin-right: 3%;
    margin-left: 3%;
    background-color: #ffffff;
    margin-top: 10%;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px grey;

}
.card-1 {
    display: grid;
    grid-column: 1 / 2;
}
.card-2 {
    display: grid;
    grid-column: 2 / 3;
}
.card-3 {
    display: grid;
    grid-column: 3 / 4;
}
.card-4 {
    display: grid;
    grid-column: 4 /-1;
}
